{% extends "base.html" %} {% load static %}
{% block title %}NGO | Sign-IN{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 85vh; ">
    <div class="card shadow p-4" style="width: 100%; max-width: 400px; height: 500px;">
        {% if errmsg %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Error!</strong> {{errmsg}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}

        <h3 class="text-center mb-4">Sign In</h3>
        <form action="{% url 'signin' %}" method="POST">
            {% csrf_token %}
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="username" name="uname" placeholder="Username" required>
                <label for="username">Username</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="password" name="upass" placeholder="Password" required>
                <label for="password">Password</label>
            </div>

            <div class="text-end mb-3">
                <a href="#">Forgot Password?</a> <!-- href='/req_pass_reset' -->
            </div>

            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">Sign In</button>
                <a href="{% url 'index' %}" class="btn btn-outline-secondary">Cancel</a>
            </div>

            <p class="mt-4 text-center">Don't have an account? <a href="{% url 'signup' %}">Sign up</a></p>
        </form>
    </div>
</div>
{% endblock %}